doctype html
html(lang='en')
  head
    title future transportation
    
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi user-scalable=no")
    link(rel="stylesheet", href="css/lib/reset.css")
    link(rel="stylesheet", href="css/lib/fullpage.css")
    link(rel="stylesheet", href="css/lib/animate.css")
    link(rel="stylesheet", href='css/style.css')
  body
    div.fullpage 
      div.section
        div.slide#slide1
          div.container 
            h1 The Future of 
              span.colorful Transportation
            p by Szymon Stypa, Samuel Wadström and Sarid Kunluxsa
        div.slide#slide2
          div.container
            h1.colorful What we will cover
            p The already existing vehicles. How will they look in the future?
            div.icons
              img(src="img/svg/car.svg").1
              img(src="img/svg/train.svg").2
              img(src="img/svg/skateboard.svg").3
        div.slide#slide3
          div.container
            div.footer.1
              h1.colorful.1 Cars
              p.silent And their future features
                br 
                br
              ul
                li.2 Future fuels
                li.3 Antonomous vehicles
                li.4 Driver override systems
                li.5 Active health monitoring
                li.6 Smaller features
        div.slide#slide4
          div.container
            h1.colorful.1 Trains
            p.silent.1 The hyperloop technology
              br
              br
            div.hyper
              ul
                li.2 What is it?
                li.3 How does is work?
                li.4 The experience
                li.5 How close is this to being a reality?
              
              img(src="img/hyperloop.jpg").1
              
        div.slide#slide5
          div.container
            h1.colorful.1 Personal transportation
            p.silent.1 Jetpacks and hoverboards
            div.images
              img(src="img/hoverboard.jpg").1
              img(src="img/jetpack.jpg").1
              img(src="img/hoverboard2.jpg").1
            p.1 Facts and development
        
        div.slide#slide6
          .container
            h1.colorful Conclusions
            p.silent How will we take ourselves from one place to another?
              br
              br
        
        div.slide#slide7
          div.container
            h1.colorful Sources
              br
              br
            a(href="http://hyperlooptech.com").silent hyperlooptech.com
            a(href="http://youtu.be/YwB3g5D99v8").silent youtu.be/YwB3g5D99v8
            a(href="http://youtu.be/7A7GsAPR3J0").silent youtu.be/7A7GsAPR3J0
            a(href="http://spacex.com/hyperloop").silent spacex.com/hyperloop
            p(href="http://wikipedia.org/wiki/Jet_pack").silent wikipedia.org/wiki/Jet_pack
            p(href="http://wikipedia.org/wiki/Hyperloop").silent wikipedia.org/wiki/Hyperloop
            p(href="http://wikipedia.org/wiki/Hoverboard").silent wikipedia.org/wiki/Hoverboard
            p(href="http://wikipedia.org/wiki/Electric_car").silent wikipedia.org/wiki/Electric_car
            p(href="http://lexus-int.com/amazinginmotion/slide").silent lexus-int.com/amazinginmotion/slide
            p(href="http://theverge.com/label/detroit-auto-show").silent theverge.com/label/detroit-auto-show
            p(href="http://hongkiat.com/blog/future-car-technology").silent hongkiat.com/blog/future-car-technology
            p(href="http://thewirecutter.com/reviews/hoverboard-you-should-get-so-far").silent thewirecutter.com/reviews/hoverboard-you-should-get-so-far
            p(href="http://forbes.com/sites/kbrauer/2015/01/19/top-10-advanced-car-technologies-by-2020").silent forbes.com/sites/kbrauer/2015/01/19/top-10-advanced-car-technologies-by-2020
          
      
    script(src="https://code.jquery.com/jquery-2.2.1.min.js")
    script(src="js/lib/fullpage.js")
    script(src='js/main.js')
