doctype html
html(lang='en')
  head
    title future transportation
    
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi user-scalable=no")
    link(rel="stylesheet", href="css/lib/reset.css")
    link(rel="stylesheet", href="css/lib/fullpage.css")
    link(rel="stylesheet", href="css/lib/animate.css")
    link(rel="stylesheet", href='css/style.css')
  body
    div.fullpage
      div.section
        div.slide#slide1
          div.container
            h1 The Future of 
              span.colorful Transportation
            p by Szymon Stypa, Samuel Wadström and Sarid Kunluxsa
        div.slide#slide2
          div.container
            h1.colorful What we will cover
            p The already existing vehicles. How will they look in the future?
            div.icons
              img(src="img/svg/car.svg").1
              img(src="img/svg/train.svg").2
              img(src="img/svg/skateboard.svg").3
        div.slide#slide3
          div.container
            div.footer.1
              h1.colorful Cars - Future features
                br 
                br
              ul
                li.2 Future fuels
                li.3 Antonomous vehicles
                li.4 Driver override systems
                li.5 Active health monitoring
                li.6 Smaller features
        div.slide#slide4
          div.container
            h1.colorful.1 Trains - Hyperloop technology
              br
              br
            div.hyper
              ul
                li.2 What is it?
                li.3 How does is work?
                li.4 The human factor
                li.5 How close is this to being a reality?
              
              img(src="img/hyperloop.jpg").1
              
        div.slide#slide5
          div.container
          
      
    script(src="https://code.jquery.com/jquery-2.2.1.min.js")
    script(src="js/lib/fullpage.js")
    script(src='js/main.js')
